*{
    border: 0;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.continer{
    background-color: rgb(171, 179, 177);
    padding: 20px;
    border-radius: 5px;
}
input[type='text']{
    padding: 5px;
    outline: none;
}
.base .INPUT-PASSWORD,.show-PASSWORD{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}
label{
    padding: 10px 5px;
}
.checkbox{
    padding: 10px 0;
}
button{
    padding: 5px 6px;
    margin: 5px 0;
    background-color: aqua;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    font-weight: 600;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(3, 211, 211);  
}
#showpassword{
    width: 100%;
   

}
#showpassword::placeholder{
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    color: red;
}
